@import '../../css/variables.css';

.panel_big {
    border-radius: 4px;
    padding: 14px 0px 10px 0px;
    height: 420px;
    max-width: 556px;
    background: var(--colorBlack);
    color: white;
    margin: 7px;
    overflow: hidden;
    text-after-overflow: hidden;
}


/* Portrait fix for mobile that --small doesn't seem to hit */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .panel_big {
        height: 500px;
    }
}

/* Fix for Samsung A20 Portrait */
@media screen
and (device-width: 412px)
and (device-height: 757px)
and (orientation: portrait) {
    .panel_big {
        height: 600px;
    }
}

/* Galaxy Fold Portrait */
@media screen
and (device-width: 280px)
and (device-height: 653px)
and (orientation: portrait) {
    .panel_big {
        height: 600px;
    }
}